<div class="scanner-container">
  <h1>Автоматический сканер QR-кодов</h1>
  <p id="camera-status">Инициализация сканера...</p>

  <video id="qr-video" autoplay playsinline muted></video>

  <div class="camera-overlay">
    <div class="scan-area"></div>
  </div>
</div>
<%= stylesheet_link_tag 'scanner', media: 'all' %>